<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="octicons/octicons.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <main class="container" ng-app='TIY-GitHub'>
        <section class="left">
          <div class="group">
          <img src="img/jedi.jpg">
          <h2>{{user.name}}</h2>
          <h2>{{user.login}}</h2>
          <ul class="leftsidelist">
            <li><span class="octicon octicon-organization"></span>{{user.company}}</li>
            <li><span class="octicon octicon-location">{{user.location}}</li>
            <li><span class="octicon octicon-mail">{{user.email}}</li>
            <li><span class="octicon octicon-link">{{user.blog}}</li>
            <li><span class="octicon octicon-clock">{{user.created_at}}</li>
          </ul>
          <div class="3littlethings">{{user.followers}}</div>
          <div class="3littlethings">2 Stared</div>
          <div class="3littlethings">{{user.following}}</div>
          <div>
        </section>
        <section class="right">
          <div class="tabs">
            <ul class="tab-links">
              <li class="octicon octicon-diff-added"><a href="#tab1">Contributions</a></li>
              <li class="octicon octicon-repo active"><a href="#tab2">Repositories</a></li>
              <li class="octicon octicon-rss"><a href="#tab3">Public activity</a></li>
              <button class="octicon octicon-person follow" type="button">Follow</button>
              <button class="octicon octicon-stop" type="button"></button>
            </ul>
          <div class="tab-content">
            <nav id="tab1" class="tab">
              <p>tab 1</p>
            </nav>
            <nav id="tab2" class="tab active">
              <div class="searchnfliter">
                <hr>
                <form>
                  <input type="text" id="your-repos-filter" name="q"
                  class="filter_input js-filterable-field"
                  placeholder="Find a repository…"
                  tabindex="2" aria-label="Filter your repositories by name">
                  <input type="submit" value="Search">
                  <input type="submit" value="All">
                  <input type="submit" value="Sources">
                  <input type="submit" value="Forks">
                  <input type="submit" value="Mirrors">
                </form>
              </div>
              <div class="repolist" ng-repeat="repo in repos">
                <hr>
                <h3>{{repo.name}}</h3>
                <p>{{repo.description}}</p>
                <p>{{repo.updated_at}}</p>
              </div>
            </nav>
            <nav id="tab3" class="tab">
              <p>tab 3</p>
            </nav>
          </div>
        </div>
        <div class="comment-whole" ng-repeat="comment in comments">
          <div class="comment-middle">
            <div class="comment-header">
            <div class="comment-content"
              <p>{{comment.body}}</p>
            </div>
            </div>
          </div>
        </div>
        <div class="leave-a-comment">
          <textarea name="comment[body]" tabindex="1" placeholder="Leave a comment"></textarea>
          <button type="submit">Comment
          </button>
        </div>

        </section>
      </main>

        <script src="../bower_components/angular/angular.js"</script>
        <script src="../bower_components/jquery/dist/jquery.js"</script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
