.left {
  display: block;
  float: left;
  width: 30%;
  .group {
    height: 65%;
    width: 30%;
    img {
      width: 150px;
      height: 150px;
    }
    .leftsidelist {
      list-style-type: none;
      text-align: left;
      padding-left: 10px;
    }
    .3littlethings {
      display: block;
      float: left;
    }
  }
}
.right {
  display: block;
  float: left;
  width: 60%;
  .follow {
    background-color: #71CA52;
  }
}

.forgiveme {
  display: none;
}
/*----- Tabs -----*/
.tabs {
  width:100%;
  display:inline-block;
}
/*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }

    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }

        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            // background:#7FB5DA;
            font-size:16px;
            font-weight:600;
            color:#4c4c4c;
            transition:all linear 0.15s;
        }

        .tab-links a:hover {
            background:#a7cce5;
            text-decoration:none;
        }

    li.active a, li.active a:hover {
        background:#fff;
        color:#4c4c4c;
    }

    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
    }

        .tab {
            display:none;
        }

        .tab.active {
            display:block;
        }
//
// @media screen and (max-width: 32em) {
//   body {
//     background-color: red;
//   }
// }
.comment-whole {
  position: relative;
  padding-left: 64px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  .comment-middle{
    position: relative;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    .comment-header{
      background-color: #f2f8fa;
      border-bottom-color: #dde4e6;
      padding-left: 15px;
      padding-right: 15px;
      color: #767676;
      border-bottom: 1px solid #eee;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    .comment-content {
      box-sizing: border-box;
    }
  }
}
.leave-a-comment {
  padding: 0 0 10px;
  margin: 0 10px;
  width: 100%;
  min-height: 100px;
  max-height: 500px;
  padding: 10px;
  resize: vertical;
  border-bottom: 1px dashed #ddd;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 14px;
  line-height: 1.6;
}
